{% extends "base.html.twig" %}

{% block title %}Ajout d'une tâche au projet {{ project.name }} {% endblock %}

{% block body %}
    <form action="{{ path('project_add_task', {id: project.id}) }}" method="post">
        <small>Titre de la tâche :</small>
        <input type="text" name="title">
        <small>Description de la tâche :</small>
        <textarea name="description" id="" cols="30" rows="10"></textarea>
        <button class="btn btn-lg btn-light" type="submit">Créer la tâche</button>
    </form>
{% endblock %}